:root {
  --primary-font-color: #757575;
  --secondary-font-collor: #212121;

  --primary-back-color: #fff;
  --secondary-back-color: #2f303a;

  --accent-color: #2196f3;

  --primary-font-family: Roboto, sans-serif;
}

body {
  letter-spacing: 0.03em;

  font-family: var(--primary-font-family);
  font-size: 14px;
  color: var(--primary-font-color);

  background-color: var(--primary-back-color);
}

h1,
h2,
h3,
p {
  margin: 0px;
}


/* =========== COMMON =========== */

/*links*/

.links {
  text-decoration: none;
  color: var(--secondary-font-collor);
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.active-links,
.links:focus,
.links:hover {
  color: var(--accent-color);
}

.list {
  list-style-type: none;

  margin-top: 0px;
  margin-bottom: 0px;

  padding: 0px;
}

/*buttons*/

.buttons {
  font-size: 16px;
  line-height: 1.63;

  background-color: #f5f4fa;
  border-radius: 4px;

  cursor: pointer;

  padding: 6px 22px;
}

.active-button,
.buttons:focus,
.buttons:hover {
  color: var(--primary-back-color);
  background-color: var(--accent-color);
}

.title-hidden {
  display: none;
}

.regular-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-font-collor);

  margin-top: 0px;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  outline: 1px solid tomato;
}

.section {
  padding: 94px 0;

  outline: 1px solid #188ce8;
}

/* =========== HEADER =========== */

.header-section {
  border-bottom: 1px solid #ececec;
  display: flex;
}

/* logo */

.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19px;
  color: var(--secondary-font-collor);
  text-decoration: none;

  display: inline-block;
  margin-top: 24px;
}

.logo-accent {
  color: var(--accent-color);
}

.footer-section .logo {
  color: var(--primary-back-color);
  margin-top: 60px;
  margin-bottom: 20px;
}

/* .logo-box {
  display: inline-block;
} */

/* =========== NAVIGATION =========== */

.navigation {
  display: flex;
}

.nav-list {
  display: flex;
  
}

.contacts-list {
  display: flex;
}

.nav-item {
  margin-left: 50px;
}

.contacts-item {
  margin-right: 50px;
}

/* =========== HERO =========== */

.heroes-section {
  background-color: var(--secondary-back-color);
  text-align: center;
}

.heroes-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-back-color);
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
}

.heroes-button {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-back-color);
  background-color: var(--accent-color);

  padding: 10px 32px;
}

.heroes-button:hover,
.heroes-button:focus {
  background-color: #188ce8;
}

/* =========== ADVANTAGES =========== */

.advantages-section {
  line-height: 1.71;
  margin-bottom: 0px;
}
.advantag-title {
  color: var(--secondary-font-collor);
  font-size: 14px; /* перебивает font-size от браузера */
  line-height: 1.14;
  text-transform: uppercase;

  /* margin-right: 30px;
  margin-bottom: 10px; */
}

.advantag-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -5px;
}

.advantag-item- {
  margin-left: 30px;
  margin-top: 5px;

  flex-basis: calc((100% - 120px) / 4);
}

/* =========== ENGAGE =========== */

.engage-section {
  text-align: center;

  padding-top: 0px;
}

.engage-list {
  display: flex;
  padding-left: 0px;
}

.engage-item {
  margin-right: 30px;
}
.engage-item:last-of-type {
  margin-right: 0px;
}

/* =========== TEAM =========== */

.team-section {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  background-color: #f5f4fa;
}

.team-person {
  background-color: var(--primary-back-color);
}

.team-name {
  font-size: 16px; /* перебивает font-size от браузера */
  font-weight: 500;
  color: #212121;
}

.team-list {
  display: flex;
  padding-left: 0px;
}

.team-item {
  /* border: 1px solid #ffffff; 
  border-radius: 4px;*/

  margin-right: 30px;
}
.team-item:last-of-type {
  margin-right: 0px;
}

/* =========== FOOTER =========== */

.footer-section {
  background-color: var(--secondary-back-color);
  line-height: 1.71;
}

.links-footer {
  color: rgba(255, 255, 255, 0.6);
}

.address {
  color: var(--primary-back-color);
}

/* =========== PORTFOLIO =========== */

/* =========== WORKS =========== */

.filters-list {
  display: flex;
  justify-content: center;
}

.filters-item {
  margin-right: 8px;
  margin-bottom: 50px;
}
.filters-item:last-of-type {
  margin-right: 0px;
}

/* ================================= */

.works-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-font-collor);
}

.works-type {
  font-size: 16px;
  line-height: 1.87;
}

.works-list {
  padding-left: 0px;
  
  display: flex;
  flex-wrap: wrap;

  margin-left: -15px;
  margin-top: -30px;
}

.works-item {
  background-color: var(--primary-back-color);

  margin-left: 15px;
  margin-top: 30px;

  flex-basis: calc((100% - 60px) / 3);
}

/* .works-item:nth-child(3n + 3) {
  margin-right: 0px;
} */


